.input
{
	border: 1px solid grey;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	width: 200px;
}
.tweet
{
	padding: 10px;
	margin-bottom: 15px;
	background-color: #E6E6E6;
}
#send
{
	font-style: italic;
}
#message
{
	font-color:grey;
}

#submit{
	margin-top: 15px;
}